html, body {
  /*width: 390px;*/
  background-color:#eee;
  color:#111;
  padding:3px;
  font-family:sans-serif;
}
.ncc-logo {
  width: 200px;
  
}
h2 {
  margin-top:0px;
}
button {
  width: 100%;
  line-height: 25px;
  font-size: 120%;
}