{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "ga": true,
    "chrome": true
  },
  "rules": {
    "func-names": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "prefer-const": "off",
    "arrow-parens": "off",
    "object-shorthand": "off",
    "no-else-return": "off",
    "consistent-return": "off",
    "object-curly-spacing": [
      "error",
      "never"
    ]
  }
}
